{
    "mcpServers": {
      "weather": {
        "command": "uv",
        "args":[
          "--directory",
          "D:\\AI Projects\\mcp-server-weather",
          "run",
          "main.py"
        ]
      }
    }
  }